<!--Buscar por nombre-->
<div class="row m-4">
    <div class="col-lg-3 input-group ">
        <input type="text" class="form-control border border-primary" placeholder="Buscar por nombre" [(ngModel)]="busqueda">
        <div class="input-group-append ">
            <span class="input-group-text border border-primary" id="basic-addon2"><i class="fa fa-search"></i></span>
        </div>
    </div>
</div><!--FIN Buscar por nombre-->

<!--Filtro habilidades-->
<div class="row"> 
    <div class="col-lg-12">       
        <ul class="list-group-horizontal">
            <p>Filtrar por habilidades:</p>
            <li class="list-group-item d-lg-inline" *ngFor="let h of opcionesHabilidad">
              <input type="checkbox" 
              name="habilidades" 
             (click)="getHabilidadesFiltro(h)"> 
              {{h.value}}             
            </li>
        </ul>       
    </div>
</div>
<!--FIN Filtro habilidades -->

<div class="row m-4">

    <!--listado-->
    <div class="col">
        <div class="row">
            <div class="col-lg-10">
               
                <ul class="list-group">
                    <li *ngFor="let pokemon of listado | pokemonFiltro: busqueda" 
                        (click)="elegirPokemon(pokemon)" 
                        class="list-group-item {{ pokemon==pokemonSeleccionado ?'active': ''}}">
                        <div></div>
                        <i class="fa fa-adjust rotado mr-4" aria-hidden="true"></i>
                        {{pokemon.nombre |titlecase}}                        
                    </li>
                </ul>
            </div>
        </div>
    </div><!--FIN listado-->

   
    <div class="col">
        <div class="row">
            <div class="col">
                 
                <!--Detalle activo-->
                <div *ngIf="pokemonSeleccionado">
                    <div class="card">
                        <div class="card-header text-center">
                            <b>{{pokemonSeleccionado.nombre | titlecase}}</b>
                        </div>
                        <div class="card-image text-center">
                            <img class="img-fluid reducida" src="{{pokemonSeleccionado.imagen}}" alt="{{pokemonSeleccionado.nombre}}" /> 
                        </div>
                        <div class="card-body">
                            <h6 class="card-text text-center" *ngIf="pokemonSeleccionado.habilidades.length===0">Sin habilidades</h6>
                            <h6 class="card-text text-center" *ngIf="pokemonSeleccionado.habilidades.length>0">Habilidades</h6>
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let habilidad of pokemonSeleccionado.habilidades">
                                    {{habilidad.nombre | titlecase}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <!--FIN Detalle activo-->

                <!--Detalle Inactivo-->
                <div *ngIf="!pokemonSeleccionado">
                    <div class="card">
                        <div class="card-header bg-warning text-center">
                            <b>Pokemon</b>
                        </div>
                        <div class="card-body bg-dark">
                           <div class="card-image text-center">
                                <img src="assets/pokeball.png" alt="" class="img-fluid reducida">
                            </div>
                        </div>  
                        <div class="card-footer bg-warning text-center">
                            Elige un pokemon de la lista para ver sus habilidades
                        </div>                 
                    </div>
                </div>
                <!--FIN Detalle Inactivo-->
            
            </div>
        </div>
    </div>

</div>